@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

.nav-links a {
  text-decoration: none;
  color: white;
}

.profile-section {
  display: grid;
  align-content: center;
  place-items: center;
  background-color: #f0f0f0;
  width: 100%;
  height: 100vh;
}

.tech-stack-section {
  width: 75% auto;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

i {
  opacity: 0;
  transform: translateX(100%);
  filter: blur(8px);
  color: lightblue;
}

.fade {
  opacity: 1;
  transform: translateX(0);
  transition: 300ms ease-in;
  filter: blur(0);
}

i:nth-of-type(2) {
  transition-delay: 300ms;
}

i:nth-of-type(3) {
  transition-delay: 600ms;
}

i:nth-of-type(4) {
  transition-delay: 900ms;
}

i:nth-of-type(5) {
  transition-delay: 1200ms;
} 





