@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

.nav-links a {
  text-decoration: none;
  color: white;
}

.profile-section {
  display: grid;
  align-content: center;
  place-items: center;
  background-color: #f0f0f0;
  width: 100%;
  height: 100vh;
}
